<!DOCTYPE html>
<html>
<head>
    <title>Web Button</title>
</head>
<body>
    <h1>Press the Button to register Finger Print</h1>
    <form method="POST" action="/finger_register">
        <button type="submit">Click me</button>
    </form>
    <h1>Press the Button to register Face</h1>
    <form method="POST" action="/face_register">
        <button type="submit">Click me</button>
    </form>
    <h1>Press the Button to start face recognition</h1>
    <form method="POST" action="/finger_scan">
        <button type="submit">Click me</button>
    </form>
    <h1>Press the Button to start finger print recognition</h1>
    <form method="POST" action="/face_scan">
        <button type="submit">Click me</button>
    </form>
</body>
</html>
